.body-order {
  font-family: Arial, sans-serif;
  background-color: black;
  padding: 20px;
}

.order-container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.product-preview {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.product-preview img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  margin-right: 25px;
  border-radius: 8px;
}

label {
  display: block;
  margin-top: 10px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.btn {
  margin-top: 20px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 6px;
}

.btn:hover {
  background-color: #333;
}